[submodule "src"]
	path = src
	url = https://github.com/jonlighthall/src.git
[submodule "wmu"]
	path = wmu
	url = https://github.com/jonlighthall/wmu.git
[submodule "ltr/signatures"]
	path = ltr/signatures
	url = https://jonlighthall@bitbucket.org/jonlighthall/signatures.git
	